 <div class="well well-sm"><strong><p class="text-center">Upcoming Matches</p></strong></div>
   <div class="container" ng-repeat="teams in match.games" >
   <div class="well well-sm" style="background-color: white"  ng-show="teams.match==='new'">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview"  style="" ng-show="teams.match==='new'" >
                    
                        <h2 class="post-title" class="text-center">
                            <strong><p class="text-center">{{teams.team1}} vs {{teams.team2}}</p></strong>
                        </h2>
                        <div class="well well-sm" style="background-color: white">
                        <h3 class="post-subtitle">
                            <strong>score by {{teams.team1}} is{{teams.score1}}</br> score by{{teams.team2}} is {{teams.score2}}</strong>
                        </h3></div>
                        <div class="well well-sm" style="background-color: white"><span ng-show="teams.match==='new'"><p class="text-center">Not Yet started</p></span>
                    
                    <p class="post-meta" style=""><span ng-repeat="players in teams.goals1" ng-hide="players===''">goals scored by these players in {{teams.team1}}{{players}}</span></br><span ng-repeat="player in teams.goals2" ng-hide="player===''"> goals scored bythese players in {{teams.team2}}{{player}}</span></br>

                    <span ng-repeat="times in teams.time1" ng-hide="times===''"> goals scored at {{times}} by  {{teams.team1}}</span></br> <span ng-repeat="time in teams.time2" ng-hide="time===''">goals scored at {{time}} by {{teams.team2}}</br></p></span></div>
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#new">Upcoming matches</button>
                </div></div></div></div></div></div>
                <hr>
                 <div class = "modal fade" id = "new" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
   <div class = "modal-dialog">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                  &times;
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
               More Is Awaiting 
            </h4>
         </div>
         
         <div class = "modal-body">
            Coming soon <i class="fa fa-smile-o" aria-hidden="true"></i>
         </div>
         
         <div class = "modal-footer">
            <button type = "button" class = "btn btn-default" data-dismiss = "modal">
               Close
            </button>
            
           
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->